extends layout

block content
  h3 supprimer une entrée
  form(method="POST", action="/users/${entree}?_method=DELETE")
        input(class='form-control', required="required", name="number")
        
        button(type="submit") ajouter

 

